[build]
builder = "nixpacks"

[deploy]
numReplicas = 1
restartPolicyType = "on_failure"
preDeployCommand = "php artisan migrate --force"
startCommand = "php artisan serve --host=0.0.0.0 --port $PORT"
